.heroContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin: auto;
}

.buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;  
}

.buttons li:hover{
    color: #635bff!important;
    border-color: #635bff;
}


.mainSection{
    width: 100%;
}

.heroContent h1 {
font-size: 48px;
color: #0c0b0d;
font-weight: 600;
}

.heroContent p {
font-size: 20px;
color: #646373;
font-weight: 500;
line-height: 28px;
}


.gradientLine {
    position: relative;
    height: 6px;
    margin-top: -15px; 
    margin-bottom: 10px;
    width: 200px;
  }
  
  .gradientLine::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(90deg, #635bff 0, #bc56f8);
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 4px;
    transform: rotate(-3deg);
  }
  