.registeration{
    background-color: white;
    width: 70%;
    border-radius: 15px;
    margin:50px auto;
    padding: 20px;
}

.registeration p{
    margin:5px 0px;
}


.login_button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 72px;
    left: 28%;
    color: #646373;
    font-size: 16px;
    cursor: pointer;
}